HOST=localhost
PORT=8602

# For basic authentication
USERNAME=
PASSWORD=

# Setting AUTH_ENABLED to false will allow any client to push, pull and delete
# data from the registry. Provided as a convenience for testing, not recommended
# for production.
AUTH_ENABLED=true
