HOST=localhost
PORT=8602

# For basic authentication
USERNAME=
PASSWORD=

# AUTH_MODE=read_write    # Authentication required for both read and write
# AUTH_MODE=write_only    # Authentication required for write, read is open
AUTH_MODE=none          # No authentication required

# Path to directory where container data will be stored. Without trailing slash.
DATA_DIR=data

# Cron expression setting the interval for cleanup of the database (using UTC)
#           sec  min  hour  day of month  month  day of week
PRUNE_CRON="*    *    4     *             *      *"
